@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(330 47.0588% 93.3333%);
  --foreground: hsl(0 0% 35.6863%);
  --card: hsl(41.5385 92.8571% 89.0196%);
  --card-foreground: hsl(0 0% 35.6863%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 35.6863%);
  --primary: hsl(325.5814 57.8475% 56.2745%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(181.6901 43.5583% 68.0392%);
  --secondary-foreground: hsl(0 0% 20%);
  --muted: hsl(190.5263 58.7629% 80.9804%);
  --muted-foreground: hsl(0 0% 47.8431%);
  --accent: hsl(42.1429 91.3043% 81.9608%);
  --accent-foreground: hsl(0 0% 20%);
  --destructive: hsl(359.5652 92.0000% 70.5882%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(325.5814 57.8475% 56.2745%);
  --input: hsl(0 0% 89.4118%);
  --ring: hsl(330 70.2381% 67.0588%);
  --chart-1: hsl(330 70.2381% 67.0588%);
  --chart-2: hsl(190.2128 61.8421% 70.1961%);
  --chart-3: hsl(42.1429 91.3043% 81.9608%);
  --chart-4: hsl(329.6386 77.5701% 79.0196%);
  --chart-5: hsl(330.6294 64.1256% 56.2745%);
  --sidebar: hsl(326.2500 69.5652% 90.9804%);
  --sidebar-foreground: hsl(0 0% 20%);
  --sidebar-primary: hsl(330.3659 81.1881% 60.3922%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(327.4074 87.0968% 81.7647%);
  --sidebar-accent-foreground: hsl(0 0% 20%);
  --sidebar-border: hsl(268.6957 100.0000% 95.4902%);
  --sidebar-ring: hsl(330.3659 81.1881% 60.3922%);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.4rem;
  --shadow-2xs: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 0.50);
  --shadow-xs: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 0.50);
  --shadow-sm: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 1px 2px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
  --shadow: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 1px 2px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
  --shadow-md: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 2px 4px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
  --shadow-lg: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 4px 6px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
  --shadow-xl: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 8px 10px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
  --shadow-2xl: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 2.50);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(201.4286 43.7500% 12.5490%);
  --foreground: hsl(333.7500 40.0000% 92.1569%);
  --card: hsl(201.4286 33.3333% 16.4706%);
  --card-foreground: hsl(333.7500 40.0000% 92.1569%);
  --popover: hsl(201.4286 33.3333% 16.4706%);
  --popover-foreground: hsl(333.7500 40.0000% 92.1569%);
  --primary: hsl(42.1429 91.3043% 81.9608%);
  --primary-foreground: hsl(201.4286 43.7500% 12.5490%);
  --secondary: hsl(346.3636 55.0000% 76.4706%);
  --secondary-foreground: hsl(201.4286 43.7500% 12.5490%);
  --muted: hsl(214.2857 8.8608% 15.4902%);
  --muted-foreground: hsl(346.3636 55.0000% 76.4706%);
  --accent: hsl(338.4000 39.6825% 62.9412%);
  --accent-foreground: hsl(333.7500 40.0000% 92.1569%);
  --destructive: hsl(328.4211 70.3704% 62.9412%);
  --destructive-foreground: hsl(201.4286 43.7500% 12.5490%);
  --border: hsl(206.1538 28.0576% 27.2549%);
  --input: hsl(200.6897 31.1828% 18.2353%);
  --ring: hsl(184.1176 41.1290% 51.3725%);
  --chart-1: hsl(184.1176 41.1290% 51.3725%);
  --chart-2: hsl(346.3636 55.0000% 76.4706%);
  --chart-3: hsl(338.4000 39.6825% 62.9412%);
  --chart-4: hsl(191.2941 64.8855% 25.6863%);
  --chart-5: hsl(214.2857 8.8608% 15.4902%);
  --sidebar: hsl(202.5000 42.8571% 10.9804%);
  --sidebar-foreground: hsl(220.0000 14.2857% 95.8824%);
  --sidebar-primary: hsl(330.3659 81.1881% 60.3922%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(327.4074 87.0968% 81.7647%);
  --sidebar-accent-foreground: hsl(215.0000 27.9070% 16.8627%);
  --sidebar-border: hsl(216.9231 19.1176% 26.6667%);
  --sidebar-ring: hsl(330.3659 81.1881% 60.3922%);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.4rem;
  --shadow-2xs: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 0.50);
  --shadow-xs: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 0.50);
  --shadow-sm: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1.00), 3px 1px 2px -1px hsl(206.1538 28.0576% 27.2549% / 1.00);
  --shadow: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1.00), 3px 1px 2px -1px hsl(206.1538 28.0576% 27.2549% / 1.00);
  --shadow-md: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1.00), 3px 2px 4px -1px hsl(206.1538 28.0576% 27.2549% / 1.00);
  --shadow-lg: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1.00), 3px 4px 6px -1px hsl(206.1538 28.0576% 27.2549% / 1.00);
  --shadow-xl: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1.00), 3px 8px 10px -1px hsl(206.1538 28.0576% 27.2549% / 1.00);
  --shadow-2xl: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 2.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

